@model IEnumerable<HospitalIS.WebApplication.Models.DoctorInfoModel>

@{
    ViewBag.Title = "Our specialists";
}

<h2>Our specialists</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization)
        </td>
        @if (User.IsInRole("Doctor"))
        {
            <td>
                @Html.ActionLink("Patients", "GetPatientsForDoctor", "Doctor", new { Username = item.Username }, null)
            </td>
        }
    </tr>
    }

</table>
