@using HospitalISDBContext.Enums
@model HospitalIS.WebApplication.Models.HealthCard.HealthCardUpdateBloodTypeModel

@{
    ViewBag.Title = "UpdateBloodType";
}

<h2>Update blood type</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BloodType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BloodType",
                new SelectList(Enum.GetValues(typeof(BloodType))),
                "Select blood type",
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BloodType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to health card", "PatientAskForGetInfoDoctor", "Patient", new { identificationNumber = Request.QueryString["identificationNumber"] }, null)
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
